#main-div {
  text-align: center;
}

#main-board {
  margin: auto;
  border: 1px solid black;
  width: 416px;
  height: 416px;
}

.square {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  float: left;
  opacity: 75%;
}

.white {
  background-color: #EDD6C9;
}

.black {
  background-color: #7D5D5D;
}

#turn {
  margin-top: 2%;
}

.black-piece-taken {
  background-color: black;
  border-radius: 50%;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 2px;
}

.white-piece-taken {
  background-color: #FAE0C5;
  border-radius: 50%;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 2px;
}