#main-div {
  text-align: center;
}

#main-board {
  margin: auto;
  border: 1px solid black;
  width: 416px;
  height: 416px;
}

.square {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  float: left;
  opacity: 75%;
}

.white {
  background-color: #EDD6C9;
}

.black {
  background-color: #7D5D5D;
}

#turn {
  margin-top: 2%;
}